<div class="container-fluid">
    <div class="centrado">
        <h1>Segundo Integrador</h1>
    </div>
    <div class="centrado parrafo_dot">
        <h5>Primera parte</h5>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="centrado">
                Ejercicios
            </div>
            <ol>
                <li>
                    Definir un array de objetos any, los cuales van a tener 3 propiedades:
                    'descripcion', 'precio' y 'color'. Inicializar el array con 5 objetos de ese tipo
                    y mostrar la información en una tabla, utilizando 2 ngFor (uno para los títulos, otro para los
                    datos)
                </li>
                <li>
                    Sobre la tabla, agregar el evento click en cada uno de los objetos, para poder mostrar por
                    interpolación la información del objeto
                </li>
                <li>
                    Agregar lógica para que la información, solo sea visible cuando presionamos un objeto
                </li>
            </ol>
        </div>
        <div class="col-6">
            <div class="centrado">
                Resolución
            </div>
            <ol>
                <li>

                </li>
                <li>

                </li>
                <li>

                </li>
            </ol>
        </div>
    </div>
    <div class="centrado parrafo_dot">
        <h5>Segunda parte</h5>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="centrado">
                Ejercicios
            </div>
            <ol>
                <li>
                    Crear una clase Persona con las propiedades: nombre, apellido, edad.
                    Crear un objeto de tipo Persona y mostrar la información por interpolación
                </li>
                <li>
                    Crear un array de personas y mostrarlo en una tabla utilizando ngFor
                </li>
                <li>
                    Crear un formulario para poder generar una persona y agregarla al array y mostrarlo en la tabla
                </li>
                <li>
                    Crear una nueva columna en la tabla que se llame 'Acciones' y agregar un botón por fila que permita eliminar una persona
                </li>
            </ol>
        </div>
        <div class="col-6">
            <div class="centrado">
                Resolución
            </div>
            <ol>
                <li>
                    <div>
                        Nombre:
                    </div>
                    <div>
                        Apellido:
                    </div>
                    <div>
                        Edad:
                    </div>
                </li>
                <li>

                </li>
                <li>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Nombre">
                                <label for="floatingInput">Nombre</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="fa" placeholder="Apellido">
                                <label for="fa">Apellido</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="col-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="fe" placeholder="Edad">
                                    <label for="fe">Edad</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-grid gap-2">
                                <button class="btn btn-outline-primary" type="button">Agregar</button>
                              </div>
                        </div>
                    </div>
                </li>
                <li>

                </li>
            </ol>
        </div>
    </div>
</div>