.boton{
    background-color: transparent;
    width: 100%;
    text-align: left;
    border: none;
    &:hover{
        border: solid 1px white;
    }
}
.subBoton{
    color:red;
    background-color: #014d6d;
    width: 100%;
    text-align: left;
    border:none;
    &:hover{
        border: solid 1px black;
    }
}
.divBoton{
    border-bottom: solid 1px #004c6c;
}
.logoReserv{
    width: 100%;
    height: 50px;
    background-image: url("/assets/logo_reserv.PNG");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}