input {
    max-width: 70px;
}
.miLabel {
    text-align: right;
}
.miInfo {
    text-align: left;
}

th{
    background-color: #0d6efd;
    color: white;
}

th,
td {
    border-bottom: 1px solid #ddd;
}
tr:hover {
    background-color: gray;
}
