<div class="container-fluid">
    <div class="row">
        <div class="col-12 centrado">
            <h1>ngIf Component</h1>
        </div>
    </div>
    <div class="alert alert-dark" role="alert">
        La directiva <strong>*ngIf</strong> nos permite agregar condicionales directamente sobre los elementos
        <code>HTML</code>, en caso de que se cumpla la condición
        dibujará el elemento, y en caso de que no se cumpla, directamente esa porción de código no se cargará en la
        vista (no es que no lo muestra, sencillamente es como si no existiera)
    </div>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    Definición
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <p>
                        La sintaxis del ngIf es: <strong> *ngIf="&lt;condicion&gt;" </strong> esta condición puede
                        aplicarse a cualquier elemento <code>HTML</code>
                    </p>
                    <p>
                        En la condición se podrá analizar una condición fija, o una condición vinculada a las variables
                        de nuestro archivo <code>.TS</code>, esto quiere decir que se puede utilizar de las siguientes
                        maneras
                    </p>
                    <div class="row">
                        <div class="col-6 centrado">
                            <p>
                                <strong> <code>&lt;div</code> *ngIf="5 == 3"</strong> <code>&gt;</code>
                            </p>
                        </div>
                        <div class="col-6 centrado">
                            <p>
                                <strong> <code>&lt;div</code> *ngIf="miVariable &gt; 3"</strong> <code>&gt;</code>
                            </p>
                        </div>
                    </div>
                    <div class="alert alert-dark">
                        Cuando se utiliza con variables, directamente se llama a la variable a analizar sin la
                        interpolación, la directiva entiende que si se utiliza un nombre conocido en el archivo
                        <code>.TS</code> utilizará su valor para analizar la condición
                    </div>
                    <p>
                        Existe también la posibilidad de utilizar el <strong>else</strong> en el *ngIf, la sintáxis
                        sería la siguiente:
                    </p>
                    <div class="row">
                        <div class="col-12 centrado">
                            <strong> <code>&lt;div</code> *ngIf="miVariable &gt; 3 ; else otroElemento"</strong>
                            <code>&gt;</code>
                        </div>
                    </div>
                    <p>
                        Para poder indicar que se debe mostrar (en caso de que sea necesario) si no se cumple la
                        condición, se debe utilizar el elemento
                        <strong> &lt;ng-template #otroElemento&gt;&lt;/ng-template&gt; </strong>
                    </p>
                    <div class="alert alert-dark">
                        <p>
                            El <strong>else</strong> se seprará de la condición con un punto y coma <strong>;</strong>,
                            seguido de esto irá el nombre del template que dibujará en el
                            caso de que no se cumpla la condición
                        </p>
                        <p>
                            Para poder vincular los elementos <code>HTML</code> (el div/input/componente/etc) en donde
                            tenemos el <code>*ngIf</code> con el <code>&lt;ng-template&gt;&lt;/ng-template&gt;</code> se
                            utilizará el # (hashtag) en el ng-template para darle un nombre
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    Ejemplo
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-6 rowTitulo centrado parrafo">
                            .HTML
                        </div>
                        <div class="col-6 rowTitulo centrado parrafo">
                            .TS
                        </div>
                        <div class="col-6 col_centrado">
                            <ol>
                                <li>Ejemplo <strong>*ngIf</strong> sobre div, sin utilizar variable</li>
                                <img src="assets/ngIfhcHTML.PNG" alt="">
                                <br>
                                <strong>Resultado:</strong>
                                <div *ngIf="10 < 5">
                                    <p>10 Nunca va a ser menor que 5</p>
                                </div>
                                <div *ngIf="10 > 5">
                                    <p>10 siempre va a ser mayor que 5</p>
                                </div>
                            </ol>
                        </div>
                        <div class="col-6 col_centrado">
                            <ol>
                                <li>
                                    En este caso solamente se utiliza el <code>.HTML</code>, nuestro <code>.TS</code> no
                                    tiene participación
                                </li>
                            </ol>
                        </div>
                        <div class="col-6 col_centrado">
                            <ol start="2">
                                <li>
                                    Ejemplo <strong>*ngIf</strong> sobre input, utilizando una variable del
                                    <code>.TS</code>
                                </li>
                                <img src="assets/ngIfvarHTML.PNG" alt="">
                                <br>
                                <strong>Resultado:</strong><br>
                                <input type="text" *ngIf="miVariable == 'hola'">
                            </ol>
                        </div>
                        <div class="col-6 col_centrado">
                            <ol start="2">
                                <li>
                                    En este caso se analiza el valor de la variable <code>miVariable</code>
                                    declarada en nuestro archivo .TS
                                    <img src="assets/ngIfvarTS.PNG" alt="">
                                </li>
                            </ol>
                        </div>
                        <div class="col-6 col_centrado">
                            <ol start="3">
                                <li>
                                    Ejemplo <strong>*ngIf ; else</strong> sobre div's, utilizando una variable del
                                    <code>.TS</code>
                                    <img src="assets/ngIfElseVarHTML.PNG" alt="">
                                    <br><strong>Resultado:</strong><br>
                                    <div *ngIf="miVariable == 'chau' ; else noSaludo">
                                        <p>Saludos!</p>
                                    </div>
                                    <ng-template #noSaludo>
                                        <p>Todavía no es momento de saludar</p>
                                    </ng-template>
                                </li>
                            </ol>
                        </div>
                        <div class="col-6 col_centrado">
                            <ol start="3">
                                <li>
                                    En este ejemplo se utilizará la misma variable <strong>miVariable</strong>, cuyo
                                    valor es 'hola', por ende no cumple la condición y se dibuja el párrafo que indica
                                    que todavía no es momento de saludar
                                </li>
                                <img src="assets/ngIfvarTS.PNG" alt="">
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    Ejercitación
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="centrado">
                                Ejercicios
                            </div>
                            <ol>
                                <li>
                                    Realizar un ngIf con una condición verdadera (sin variables) para que muestre en un div la frase: 'Hola mundo'
                                </li>
                                <li>
                                    Generar un div que solamente se muestre cuando el valor de una variable es igual a 'hola'
                                </li>
                                <li>
                                    Generar un div con la frase 'Hola mundo' que se muestre cuando se apreta un botón
                                </li>
                                <li>
                                    Generar un div que muestre la frase 'Hola mundo' y que al apretar un butón modifique su contenido a 'Chau mundo'
                                </li>
                                <li>
                                    Generar un input vinculado a una variable y un botón de análisis, dicho botón deberá chequear si la variable contiene la palabra 'hola', si la contiene deberá mostrar un div con el mensaje
                                    "Análisis exitoso", caso contrario se deberá mostrar un div con la frase 'No se paso el control'
                                </li>
                            </ol>
                        </div>
                        <div class="col-6">
                            <div class="centrado">
                                Resolución
                            </div>
                            <ol>
                                <li>
                                    Punto 1
                                </li>
                                <li>
                                    Punto 2
                                </li>
                                <li>
                                    Punto 3
                                    <button>Mostrar</button>
                                </li>
                                <li>
                                    Punto 4
                                    <button>Adiosss</button>
                                </li>
                                <li>
                                    Punto 5
                                    <input type="text">
                                    <button>Análisis</button>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>