<h1>Primer Integrador Component</h1>
<div class="container-fluid">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Inregración interpolación con ngModel
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <div class="row">
            <div class="col-6">
              <div class="centrado">
                Ejercicios
              </div>
               <ol>
                 <li>Vincular una variable con un valor predefinido, mostrarla por interpolación y darle valor a un input</li>
                 <li>Crear una variable que se vincule a un input y mostrarla por interpolación una al lado de la otra</li>
               </ol> 
            </div>
            <div class="col-6">
              <div class="centrado">
                Ejercicios
              </div>
              <div>
                <ol>
                  <li>
                    <input type="text"> | Interpolación: 
                  </li>
                  <li>
                    <input type="text"> | Interpolación: 
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Integración ngModel con Funciones
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <div class="row">
            <div class="col-6">
              <div class="centrado">
                Ejercicios
              </div>
              <ol>
                <li>
                  Crear una función que aplique el valor a una variable y se muestre por input
                </li>
                <li>
                  Crear una función que reciba un parámetro numérico, sume 10 unidades y muestre el valor en un input
                </li>
                <li>
                  Crear una función que modifique el valor de un checkbox y haga que se tilde automáticamente
                </li>
              </ol>
            </div>
            <div class="col-6">
              <div class="centrado">
                Ejercicios
              </div>
              <ol>
                <li>
                  <button>Punto 1</button> <input type="text">
                </li>
                <li>
                  <button>Punto 2</button> <input type="number">
                </li>
                <li>
                  <button>Punto 3</button> <input type="checkbox">Check
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Integración interpolación / ngModel / Funciones
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <div class="row">
            <div class="col-6">
              <div class="centrado">
                Ejercicios
                <ol>
                  <li>
                    Desarrollar una función que asigne un valor a un input
                  </li>
                  <li>
                    Desarrollar una función que reciba como parámetro un string, lo asigne a una variable y lo muestre por interpolación
                  </li>
                  <li>
                    Desarrollar una función que tome el valor de un input y lo muestre por consola
                  </li>
                  <li>
                    Desarrollar una función que reciba un número como parámetro y muestre por interpolación si el número es par o impar
                  </li>
                  <li>
                    Desarrollar una función que utilice un valor numérico de un input e indice por interpolación si es mayor a 100
                  </li>
                </ol>
              </div>
            </div>
            <div class="col-6">
              <div class="centrado">
                Ejercicios
              </div>
              <ol>
                <li>
                  <button>Punto 1</button>
                  <input type="text">
                </li>
                <li>
                  <button>Punto 2</button>
                  Interpolación: 
                </li>
                <li>
                  <input type="text">
                  <button>Punto 3</button>
                </li>
                <li>
                  <button>Punto 4</button>
                  Interpolación: 
                </li>
                <li>
                  <input type="text">
                  <button>Punto 5</button>
                  Interpolación: 
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>