/* You can add global styles to this file, and also import other style files */
.parrafo{
    border: solid 1px;
}
.parrafo_dot{
    border: dotted 1px red;
}
.texto_parrafo{
    margin: 10px;

}
.centrado{
    text-align: center;
}
.col_centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col_evenly{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.rowTitulo{
    background-color: black;
    font-weight: bolder;
    color: white;
}
.rowEspaciado{
    margin-top: 15px;
}

.azul{
    color: blue;
}
.violeta{
    color:darkviolet;
}
.crim{
    color:crimson;
}
.verde{
    color:darkgreen
}
.gris{
    color:darkgray;
}
*h1 {
	color: #004c6c;
    margin-top: 20px;
    margin-bottom: 10px;
}
.fondoUnder{
    background-image: url("assets/underConstruction.png");
    background-repeat: no-repeat;
}
.contenedorFoto{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 90vh;
    padding-left: 30%;
}
.imgUnder{

}